* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}


#section-1 {
  height: 100vh;
  width: 100%;
  color: #fff;
}

#slider {
  height: 100%;
  width: 100%;
  position: absolute;
  /* z-index: -1; */
}

#images {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

#images img {
   /* height: 100%; */
  width: 100vw; 
  transition: all linear 0.15s ease;
}

#images input {
  display: none;
  height: 10px;
  width: 10px;
  margin: 5px;
}

#dots {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  margin: 5px;
}

#dots label {
  height: 15px; 
  width: 15px;
  border: 3px solid #ddd;
  border-radius: 50%;
  transition: all 0.15s ease;
  margin: 5px;
  cursor: pointer;
}

#dots label:hover {
  background-color: #ddd;
}

#img1:checked ~ .m1 {
  margin-left: 0vw !important; 
}
#img2:checked ~ .m2 {
  margin-left: -100vw !important;
}
#img3:checked ~ .m3 {
  margin-left: -200vw !important;
}
#img4:checked ~ .m4 {
  margin-left: -300vw !important;
}

#dots label:active {
  background-color: #ddd;
}

#section-1 nav, #section p, #section a, #section h1 {z-index: 10;}

.container {
  width: 50%;
  margin: auto;
}

#section-1 .container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%)
}

#nav-bar {
  padding: 10px;
}

#branding {
  font-size: 2rem;
  font-weight: bold;
  float: left;
}

#menu {
  float: right;
  font-size: 0.8rem;
}

.menu-item {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
}

#main-heading {
  font-size: 3rem;
  margin: 150px auto 20px;
  font-weight: bolder;
}

#section-1 p {
  font-weight: 100;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  font-size: 0.7rem;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  background-color: yellow;
  padding: 1rem 1.5rem;
  margin: 10px 5px 0 0;
  border-radius: 5px;
  box-shadow: 0 5px 8px 5px rgba(0, 0, 0 0.2);
}

.btn:hover {
  background-color: purple;
  color: #fff;
  cursor: pointer;
  transform: scale(0.98);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}


.navbar {
  background-color: #333;
}

.wrap-nav {
  width: 55%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  font-family: Montserrat;
}

.right-nav h1 {
  color: white;
  font-weight: lighter;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.list li {
  padding: 0 10px;
  color: white;
  font-size: 18px;
}

.list li a,
.right-nav a {
  text-decoration: none;
  color: white;
}

.list li a:hover {
  color: blue;
}

.data {
  position: absolute;
  top: 20%;
  left: 20%;
  color: white;
}

.data h1 {
  width: 70%;
  font-size: 42px;
}

.data p {
  margin-top: 30px;
  font-size: 20px;
  width: 70%;
}

.data button {
  margin: 0 10px;
  margin-top: 30px;
}

.learn {
  background-color: rgba(0, 4, 255, 0.952);
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  color: white;
  border-radius: 20px;
}

.learn:hover {
  background-color: white;
  color: darkblue;
  cursor: pointer;
}

.continue {
  background-color: rgba(0, 255, 221, 0.699);
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  color: white;
  border-radius: 20px;
}

.continue:hover {
  background-color: white;
  color: rgba(0, 255, 221, 0.699);
  cursor: pointer;
}

.welcome {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.welcome-top {
  text-align: center;
  margin-bottom: 30px;
}

.welcome-top h1 {
  font-size: 48px;
  width: 100%;
}

.welcome-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 80px;
}

.right-welcome {
  display: flex;
  justify-content: center;
}

.right-welcome img {
  width: 60%;
}

.left-welcome {
  width: 90%;
  display: flex;
  justify-content: center;
}

.left-welcome p {
  color: grey;
  font-size: 20px;
  line-height: 2;
  width: 100%;
}

.low-welcome {
  width: 95%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 30px;
}

.low-welcome .cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
}

.card1 i {
  background-color: purple;
  padding: 20px;
  border-radius: 50px;
  color: white;
  font-size: 32px;
  margin-bottom: 20px;
}

.card1 p {
  width: 60%;
margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  color: grey;
}

.card1 h3 {
  color: purple;
}

.card-learn {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  background-color: rgb(223, 226, 20);
}

.card-learn:hover {
  background-color: #333;
  cursor: pointer;
  color: white;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.project {
  height: 100vh;
}

hr {
  margin: auto;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
  color: gray;
}
.card1 img {
  width: 100%;
  height: 65%;
  margin-bottom: -5px;
}

.project h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 42px;
}

.content {
  background-color: rgba(218, 216, 216, 0.849);
  padding: 20px;
  padding-left: 30px;
}

.content h3 {
  font-size: 22px;
  padding: 10px 0px;
}

.content p {
  font-size: 17px;
  line-height: 1.5;
  padding-bottom: 20px;
  margin: 0;
  width: 100%;
}

.content button {
  padding: 13px 25px;
  background-color: #333;
  border: none;
  color: white;
  font-size: 16px;
}

.content button:hover {
  background-color: rgb(145, 141, 141);
  color: #333;
  cursor: pointer;
}

.back1 {
  background-color: rgba(199, 198, 198, 0.884);
}

.back2 {
  background-color: rgb(241, 238, 238);
}

.content:hover {
  background-color: yellow;
  cursor: pointer;
}

.plan {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.plans {
  width: 60%;
  margin: auto;
  text-align: center;
}

.plans h1 {
  margin-top: -70px;
  margin-bottom: 30px;
  font-size: 42px;
}

.plan p {
  line-height: 1.5;
  font-size: 17px;
  padding: 5px 0px;
}

.plan h3 {
  font-size: 24px;
  padding: 10px 0px;
}

.plan button {
  margin-top: 20px;
  padding: 7px 10px;
  border: none;
  background-color: purple;
  font-size: 15px;
  color: white;
}

.plan button:hover {
  background-color: rgba(206, 206, 20, 0.863);
  cursor: pointer;
}

.plan small {
  color: lightgray;
  font-size: 14px;
}

.border-right {
  border-right: 2px solid lightgray;
}

.video h1 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
  padding-top: 40px;
  color: white;
  font-size: 42px;
}

.video {
  background-color: rgb(12, 91, 236);
}

.videos {
  display: flex;
}

.video1 video{
  height: 400px;
  width: 485px;
  margin: 10px;
  padding-bottom: 50px;
}



.members {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 70px;
}

.members h1 {
  font-size: 42px;
  margin-bottom: 30px;
}

.member1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 0px;
}



.person1 img {
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.person1 p {
  color: rgb(163, 161, 161);
  padding: 3px 0px;
}

.person1 strong p {
  color: black;
  padding-top: 7px;
}




#zippy-life {
  padding: 50px;
  text-align: center;
  background-color: #ddd;
}

#zippy-life h1{
  font-size: 42px;
}

.main-image {
  width: 100%;
  height: 400px;
  margin: 20px auto;
}

.main-image img {
  width: 100%;
  height: 100%;
}

.caurosel {
  height: 100px;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.caurosel img {
  height: 100%; 
  width: 22%;
  border-radius: 5px;
}

.caurosel img:hover {
  border: 4px solid #0099ff;
  transform: scale(0.99);
  cursor: pointer;
}

.active-image {
  border: 4px solid #0099ff;
  transform: scale(0.99);
  cursor: pointer;
}

.caurosel .arrow {
  width: 10%;
  height: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
}

.caurosel .arrow:hover {
  background-color: #555;
  cursor: pointer;
}





.newsletters {
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url("/img/newsletter/pexels-burst-374870.jpg");
  background-attachment: fixed;
}

.newsletters h1 {
  padding-top: 50px;
  text-align: center;
  font-size: 42px;
  color: white;
}

.newsletter {
  display: flex;
  justify-content: center;
  padding: 10%;
  height: 100%;
}

.input input {
  padding: 10px;
  border: none;
  width: 500px;
  height: 30px;
  font-size: 17px;
}

.input button {
  margin-left: -5px;
  border: none;
  padding: 10px;
  height: 50px;
  width: 140px;
  background-color: rgb(0, 225, 255);
  color: white;
  font-size: 17px;
}

.input button:hover {
  background-color: rgb(22, 76, 192);
  color: white;
  cursor: pointer;
}

.blog {
  width: 70%;
  margin: auto;
  margin-top: 60px;
}

.blog h1 {
  font-size: 42px;
  text-align: center;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 50px;
}

.blog1 {
  width: 90%;
  margin: auto;
}

.blog1 img {
  width: 80%;
  margin-bottom: 20px;
}

.blog1 h4 {
  padding: 10px 0px;
}

.blog1 p {
  width: 75%;
  margin: auto;
  padding-bottom: 20px;
}

.date {
  color: rgb(126, 123, 123);
  padding-bottom: 10px;
}

.blog1 button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  font-size: 17px;
  color: white;
}

.blog1 button:hover {
  background-color: rgb(97, 96, 96);
  cursor: pointer;
}

.contact {
  margin-top: 70px;
  background-color: rgb(33, 169, 248);
  height: 100%;
}

.location {
  display: flex;
  height: 110%;
}

.left-loc {
  width: 50%;
}

.left-loc iframe {
  width: 100%;
  height: 100%;
}

.right-loc {
  width: 50%;
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 50px; 
}

.right-loc label {
  display: block;

}

.right-loc textarea {
  display: block;
  width: 465px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
}

.right-loc input {
  padding: 10px;
  width: 440px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
}

.right-loc h2{
  font-size: 40px;
  margin: 10px 0px;
}

.right-loc button{
  padding: 13px 20px;
  width: 470px;
  text-align: center;
  font-size: 17px;
  border: none;
  background-color: rgb(0, 38, 255);
  color: white;
}

.right-loc button:hover{
  background-color: rgb(25, 54, 184);
  color: white;
  cursor: pointer;
}


footer {
  padding: 50px 0;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}

footer .container div {
  flex: 1;
}

.social12,
.contact12 {
  list-style-type: none;
}

.social12 li {
  display: inline-block;
  margin-right: 10px;
}

.social12 li {
  width: 50px;
  height: 50px;
}

.footer-title {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

